/*css reset*/

*{

	margin: 0;
	padding: 0;
	border:0;
}

/*cabeçalho*/

header{

	position: relative;
	width: 100%;
	height: 80px;
	background-color: #000;
}

.img1{
	float:left;
	position: relative;
	margin-top: 13px;
	margin-left: 70px;
}

.img2{
	position: absolute;
	float: left;
	width: 35px;
	height: 35px;
	margin-top: 20px;
	margin-left: 120px;
	z-index: 1;
}

nav a{
	width: 15%;
	position: relative;
	margin-left: 20px;
	float: left;
	color: white;
	line-height: 76px;
	text-align: center;
	font-size: 15px;
	font-family: Lucida sans;
	font-weight: lighter;
	text-decoration: none;
}

nav a:hover{
	background-color: white;
	color: black;
	transition: 1s all;
}

main{
    position:relative;
    width:100%;
    height:745px;
    background-color:#9ABCFF;
    margin:auto;
}

#meiologin{
    position:relative;
    font-family: Franklin Gothic;
    font-size:28px;
    background-color: white;
    width: 65%;
    height: 75%;
    border:1px solid black;
    margin: auto;
    margin-top: 50px; 
    margin-bottom: 50px;
}

#meiologin h2{

	font-size: 25px;
	margin-left: 13%;
}

#meiologin h3{
	font-size: 12px;
	font-weight: lighter;
	margin-left: 150px;
	margin-top: -20px;
}

.dif-h3{
	padding-bottom: 30px;
	font-size: 12px;
	font-weight: lighter;
	margin-left: 265px;
	margin-top: -20px;
	text-decoration: underline;
	opacity: 0.75;
}



#meiologin h4{

	font-size: 25px;
	margin-left: 63%;
	margin-top: -27.5%;

}

main p{
    padding-top: 5%;
    margin: 3%;
}

.cadastro{
    margin-left:45%;
    margin-top: -14%;
    margin-right: -100px; 
    text-align:center;

}

.linha{
	position: absolute;
	background-color: black;
	width: 45%;
	height:0.15%;
	transform: rotate(90deg);
	margin-left: 28%;
	margin-top: -17%;
}

.email{	

	width: 25%;
	height: 4%;
	margin-left: 130px;
	background-color: lightgrey;
	border-radius: 9px ;
}



.checkbox{
	margin-left: 13.25%;
}

.password{
	margin-top: 10px;
	width: 25%;
	height: 4%;
	margin-left: 130px;
	background-color: lightgrey;
	border-radius: 9px ;
}



button{

	margin-top: 20px;
	margin-left: 165px;
	width: 183px;
	height: 41px;
	border-radius: 28px;
	font-size: 30px;
	color: white;
	background-color: black;
}

button:hover{

	background-color: lightgrey;
	color: black;
	text-decoration: none;
	font-size: 30px;
	transition: 1s all;
}

#rodapélogin{

	width: 100%;
	height: 50px;
	background-color: #000;
}

.img4{

	margin-top: 10px;
	margin-left: 20px;
}